body{
  background-color: aliceblue;
}

.header{
  background-color: #B1DEB4;
}

.search{
  input{
    color: white;
    background-color: #A1BAAA;
  }
  ::placeholder{
    color: white;
  }
}

.row-controls{
  .zmdi-delete{
    color: #9496c2;
  }
  .zmdi-edit{
    color: #7ac298;
  }
}

.page-size{
  .mat-form-field-infix{
    border-color: white;
  }
}

ngx-datatable{
  background-color: #b2c2b1;
}

loader{
  color: grey;
}
