.button{
  outline: none;
  height: 2rem;
}


form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
}

mat-form-field{
  width: 100%;
  & + &{
    margin-top: 0.9rem;
  }
}


//@media  {
//
//}
